@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <div class="products">

    </div>
    <div class="chat">
        <div id="chat-title">
            Chat
        </div>
        <div class="talks">
            <ul class="list-unstyled ">
                <li class="listitem-style">
                    LOL
                </li>
                <li class="listitem-style">LOL</li>
                <li class="listitem-style">LOL</li>
                <li class="listitem-style">LOL</li>
            </ul>
        </div>
        <div class="chat-message">
            <textarea disabled="disabled" id="message"></textarea>
            <button type="button" id="send-button" class="btn btn-primary">Wyślij</button>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>