@{
    ViewBag.Title = "Index";
}

<div class="">
    <h1 class="border-bottom-1-gray">Panel Admina - Sekcja produktów</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Product Price</th>
                    <th>Product UpVote</th>
                    <th>Product DownVote</th>
                    <th>Reset</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Szuraka</td>
                    <td>Opis</td>
                    <td>Cena</td>
                    <td>12</td>
                    <td>10</td>
                    <td>
                        <button id="resetButton" type="button" class="btn btn-primary">Reset</button>
                    </td>
                    <td>
                        <button id="removeButton" type="button" class="btn btn-primary">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
